.nav-bar {
    display: flex;
    width: 100%;
    padding-left: 20px;
    align-items: center;
}
.nav-bar a {
    text-decoration: none;
    color: black;
    font-size: 14px;

}
.topNavLeft {
    padding-right: 2em;

}
.topNavLeft a {
    
}
#topGapC {
    margin: auto;
}
#waffle {
    height: 20px;
    width: 20px;
}
#sign-in {
    padding-right: 35px;
}
#sign-in button {
    background-color: #4285F4;
    border: none;
    border-radius: 3px;
    color: white;
    padding: 8px 15px;
    text-align: center;
    font-size: 12px;
    font-weight: 600;
}
.topNavRight {
    padding-right: 2em;

}
.topNavRight a {

}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 450px;
}
#search-bar {
    
}
#search-bar input {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 60px;
    border: 1px solid rgba(220, 220, 220, 0.625);
    width: 500px;
    height: 50px;

}
#search-button {
    display: flex;
    justify-content: center;
    margin-top: 1em;
}
#google-button {
    background-color: #ededed;
    border: none;
    border-radius: 3px;
    color: black;
    padding: 10px 25px;
    text-align: center;
    font-size: 16px;
}
#google-button:hover {
    border: 1px solid rgba(123, 123, 123, 0.625);
}
#lucky-button {
    background-color: #ededed;
    border: none;
    border-radius: 3px;
    color: black;
    padding: 10px 25px;
    text-align: center;
    font-size: 16px;
}
#lucky-button:hover {
    border: 1px solid rgba(123, 123, 123, 0.625);
}
.box {
    display: flex;
   align-items: center;
   position: fixed;
   bottom: 0;
   height: 3em;
   background-color: #f2f2f2;
   border-top: 1px solid #dadce0;
   width: 100%;
   font-size: 15px;
  }
  .bottomNavLeft {
    padding-right: 2em;
    margin-left: 10px;
  }
  .bottomNavLeft a {
      text-decoration: none;
      color: rgb(99, 99, 99);
  }
  #bottomGapL {
      margin: auto;
  }
  #leaf {
      width: 60%;
      margin-left: -4px;
  }
  .bottomNavCenter {

  }
  .bottomNavCenter a {
    text-decoration: none;
    color: rgb(99, 99, 99);
}
  #bottomGapR {
    margin: auto;
}
  .bottomNavRight {
    padding-right: 2em;

 }
 .bottomNavRight a {
    text-decoration: none;
    color: rgb(99, 99, 99);
}
